* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: #212121;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  span {
    --d: 10px;
    display: inline-block;
    margin-inline: max(2px, calc(var(--d) / 5));
    width: var(--d);
    height: var(--d);
    background: white;
    border-radius: calc(var(--d) / 2);
    -webkit-animation: scale-up-down 300ms var(--delay) linear alternate infinite;
            animation: scale-up-down 300ms var(--delay) linear alternate infinite;
  }
  
  span:nth-child(1) {
    --delay: calc(-100ms * (6 - 1));
  }
  
  span:nth-child(2) {
    --delay: calc(-100ms * (6 - 2));
  }
  
  span:nth-child(3) {
    --delay: calc(-100ms * (6 - 3));
  }
  
  span:nth-child(4) {
    --delay: calc(-100ms * (6 - 4));
  }
  
  span:nth-child(5) {
    --delay: calc(-100ms * (6 - 5));
  }
  
  @-webkit-keyframes scale-up-down {
    to {
      height: calc(var(--d) * 4);
    }
  }
  
  @keyframes scale-up-down {
    to {
      height: calc(var(--d) * 4);
    }
  }